@font-face {
  font-family: "Chalet NewYorkNineteenEighty";
  src: url("./fonts/Chalet\ NewYorkNineteenEighty.otf") format("otf"),
    url("fonts/Chalet\ NewYorkNineteenEighty.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: "Chalet NewYorkNineteenEighty";
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

nav {
  width: 100%;
  background: #ffffff;
  overflow: auto;
}

ul {
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
  height: 100%;
  
}

li {
  float: right;
}

.logo img {
  padding-left: 100px;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}

nav a {
  width: 50px;
  display: block;
  padding: 21px 50px;
  text-decoration: none;
  color: black;
  text-align: right;
}

nav a:hover {
  animation: ease-in;
  background-color: rgb(251, 251, 110);
}

.titulo {
  font-family: "Chalet NewYorkNineteenEighty";
  font-weight: 400;
  font-size: 54px;
  text-align: center;
}

.subtitulo {
  font-family: "Chalet NewYorkNineteenEighty";
  font-size: 16px;
  text-align: center;
}

.cabecera {
  background-image: url(./img/image_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(227, 227, 227);
}

/* div donde se muestra el reproductor de twitch */

.principal {
  background-color: rgb(249, 249, 249);
  margin: 0 auto;
  padding: 0px 0 0px;
}

/*  Reproductor de Twtich  */

.twitch {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.footer {
  font-size: 10px;
  text-align: center;
  background-color: black;
  padding-bottom: 300px;
  color: #ffffff;
}

.copyright {
  padding-top: 30px;
}
